<ion-header no-border>
    <ion-navbar>
        <ion-title>Order Detail</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
        <ion-card class="cardClass upperBlock">
            <ion-row justify-content-between>
                <ion-col col-3>
                    <img src="assets/imgs/logo.png" class="imageWidth" />
                </ion-col>
                <ion-col style="margin:auto" col-6>
                    <span>{{order.consumer.name}}</span>
                    <p>{{order.consumer.city}}, {{order.consumer.state}}</p>
                </ion-col>
    
                <ion-col>
                    <span>
                        <b>Subtotal</b>
                    </span>
                    <p style="font-size: small;font-weight: 800;" >
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{order.amount}}</p>
                </ion-col>
            </ion-row>
        </ion-card>
    
        <ion-card class="cardClass">
            <ion-row>
                <ion-col>
                    <b>Ordered Products </b>
                </ion-col>
            </ion-row>
            <br>
            <div *ngFor="let product of nonDiscountedProductList">
                <ion-row class="reduceMargin" *ngIf="product.count!==0" justify-content-between>
                    <ion-col col-9>{{product.productId.name}} x {{product.quantity}}</ion-col>
                    <ion-col col-3>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.soldAmount}}</ion-col>
                </ion-row>
            </div>
            <ion-row>
                    <ion-col>
                        <b>Discounted Products </b>
                    </ion-col>
                </ion-row>
                <br>
            <div *ngFor="let product of discountedProductList">
                    <ion-row class="reduceMargin" *ngIf="product.count!==0" justify-content-between>
                        <ion-col col-9>{{product.productId.name}} x {{product.quantity}}</ion-col>
                        <ion-col col-3>
                            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.soldAmount}}</ion-col>
                    </ion-row>
            </div>
    
            <hr>
            <ion-row class="reduceMargin" justify-content-between>
                <ion-col col-9 style="color:darkcyan;font-size: 16px;">
                    <b>Subtotal</b>
                </ion-col>
                <ion-col class="subtotalClass" col-3>
                    <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{order.amount}}</ion-col>
            </ion-row>
        </ion-card>
        
    </ion-content>