.login-background{
    margin-top: 100px;
    margin-right: 14px;
  }

.loginText{
  margin-left:15px;
  text-align:center;
}
  
.bgColor{
  position: relative;
  margin: 0 auto;
  background-color: #141414;
}

.formSection{
      margin-top: 4%;
    padding: 20px;
}
.transparentInput{
  background-color: rgba(0,0,0,0);
  color:white;
}

.customLoginFont{
  color: white !important;
    font-size: larger;
}
.customLoginIcon{
  margin-left: -16px !important;
  margin-top: 35px !important;
  margin-right: -15px !important;
  color: white;
}

._loginError{
  font-size: larger;
  margin: auto;
  color: red;
  padding-left: 32px
}
.imgClass{
  width: 110px;
}

.logoClass{
  margin-top: 70px;
  margin-left: 120px;
  border-radius: 60px;
}