<ion-header>
    <ion-navbar>
        <ion-title>Update Details</ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="info">
            <ion-segment-button value="profile">
                Profile
            </ion-segment-button>

            <ion-segment-button value="address">
                Consumer
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="info">
        <ion-list *ngSwitchCase="'profile'" ngSelected="selected">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item no-lines>
                            <ion-label color="primary" floating>Full Name</ion-label>
                            <ion-input type="text" value="{{profile.name}}" [readonly]='true'></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-item no-lines>
                            <ion-label color="primary" floating>Email Id</ion-label>
                            <ion-input type="email" value="{{profile.email}}" [readonly]='true'></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item no-lines>
                            <ion-label color="primary" floating>Mobile Number</ion-label>
                            <ion-input type="text" value="{{profile.mobile}}" [readonly]='true'></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <ion-item no-lines>
                            <ion-label color="primary" floating>State</ion-label>
                            <ion-input type="text" value="{{profile.state}}" [readonly]='true'></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item no-lines>
                            <ion-label color="primary" floating>City</ion-label>
                            <ion-input type="text" value="{{profile.city}}" [readonly]='true'></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item no-lines>
                            <ion-label color="primary" floating>Address</ion-label>
                            <ion-input type="text" value="{{profile.address}}" [readonly]='true'></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item no-lines>
                            <i class="fa fa-arrow-circle-down fa-fw"></i><a>Change Password</a>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>

        <!-- ------------------------------  Consumer  ----------------------- -->

        <ion-list *ngSwitchCase="'address'">
            <p class="addConsumerClass">
                Add new Consumer
                <span (click)="addConsumer()" style="cursor: pointer;">
                    <i class="fa fa-plus-circle fa-fw rupeeSign"></i>
                </span>
            </p>
            <div>
                <div>
                    <ion-row>
                        <ion-col>
                            <ion-searchbar (ionInput)="getItems($event)" placeholder="Search" ionClear="false"></ion-searchbar>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-list>
                    <ion-item *ngFor="let consumer of consumerList" style="cursor:pointer" (click)="editConsumer(consumer)">
                        <ion-label>{{consumer.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-list>
    </div>
</ion-content>