<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Return Order</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div>
        <ion-card class="cardClass">
            <ion-row>
                <ion-col>
                    <b>Ordered Products </b>
                </ion-col>
            </ion-row>
            <br>
            <ion-list>
                <ion-item *ngFor="let product of productList">
                    <ion-row>
                        <ion-col col-9>
                            <b>{{product.productId.name}}</b>
                        </ion-col>
                        <ion-col col-3>{{product.productId.weight}}kg</ion-col>
                    </ion-row>

                    <ion-row justify-content-between>
                        <ion-col class="_quantitySelction" col-9>
                            <span class="_quantityIcon _removeIcon" (click)="subtract(product)">
                                <ion-icon name="remove"></ion-icon>
                            </span>
                            <span class="_quantityValue">
                                <label>{{product.count}}</label>
                            </span>
                            <span class="_quantityIcon _addIcon" (click)="add(product)">
                                <ion-icon name="add"></ion-icon>
                            </span>
                            <span>
                                <label>x
                                    <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.productId.price}}</label>
                            </span>
                        </ion-col>

                        <ion-col col-3>
                            <label>
                                <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.totalPrice}}</label>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </ion-card>

        <ion-card class="cardClass">
            <ion-row>
                <ion-col>
                    <b>Discounted Products </b>
                </ion-col>
            </ion-row>
            <ion-list>
                <ion-item *ngFor="let product of freebieProductList">
                    <ion-row>
                        <ion-col col-9>
                            <b>{{product.productId.name}}</b>
                        </ion-col>
                        <ion-col col-3>{{product.productId.weight}}kg</ion-col>
                    </ion-row>

                    <ion-row justify-content-between>
                        <ion-col class="_quantitySelction" col-9>
                            <span class="_quantityIcon _removeIcon" (click)="subtract(product)">
                                <ion-icon name="remove"></ion-icon>
                            </span>
                            <span class="_quantityValue">
                                <label>{{product.count}}</label>
                            </span>
                            <span class="_quantityIcon _addIcon" (click)="add(product)">
                                <ion-icon name="add"></ion-icon>
                            </span>
                            <span>
                                <label>x
                                    <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.productId.price}}</label>
                            </span>
                        </ion-col>

                        <ion-col col-3>
                            <label>
                                <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.totalPrice}}</label>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div>
            <ion-item no-lines>
                <ion-row justify-content-between>
                    <ion-col class="_quantitySelection" col-9>Subtotal</ion-col>
                    <ion-col col-3>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalPrice}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-row class="reduceMargin">
                <ion-col>
                    <button ion-button type="submit" style="background-color:#022054;" (click)="submit()" full>Proceed</button>
                </ion-col>
            </ion-row>
        </div>
    </ion-toolbar>
</ion-footer>