<ion-header style="background-color:rgba(0,0,0,0)" no-border>
    <ion-navbar>
        <ion-title>Consumer</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bgColor">
  <form [formGroup]="consumerData" >
    <ion-list class="registerList">

      <ion-item class="transparentInput">
        <i class="fa fa-user fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>Name</ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
      </ion-item>
      <p class="errorValidator" *ngIf="consumerData.controls['name'].required || (consumerData.controls['name'].hasError('pattern') && consumerData.controls['name'].dirty)">
        Please enter a valid  Name
      </p>

      <ion-item class="transparentInput">
        <i class="fa fa-envelope fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label class="floatingLabel" floating>Email Address </ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <p class="errorValidator" *ngIf="consumerData.controls['email'].required || (consumerData.controls['email'].hasError('pattern') && consumerData.controls['email'].dirty)">
        Please enter a valid Email
      </p>

      <ion-item class="transparentInput">
        <i class="fa fa-phone fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label class="floatingLabel" floating>Mobile </ion-label>
        <ion-input type="tel" maxlength="10" formControlName="mobile"></ion-input>
      </ion-item>
      <div class="errorValidator" *ngIf="consumerData.controls['mobile'].hasError('pattern') && !consumerData.controls['mobile'].hasError('required')">
        Please enter a valid mobile number
      </div>
      <div class="errorValidator" *ngIf="consumerData.controls['mobile'].hasError('required') && consumerData.controls['mobile'].touched">
        Mobile number is
        <strong>required</strong>
      </div>

      <ion-item class="transparentInput">
        <i class="fa fa-building fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>State</ion-label>
        <ion-input type="text" formControlName="state" [readonly]='true'></ion-input>
      </ion-item>

      <ion-item class="transparentInput">
        <i class="fa fa-building fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>City</ion-label>
        <ion-input type="text" formControlName="city" [readonly]='true'></ion-input>
      </ion-item>

      <ion-item class="transparentInput">
        <i class="fa fa-map-marker fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>Full Address</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>

      <ion-item class="transparentInput">
        <button margin-top ion-button type="submit" (click)="register(consumerData.value)"  [disabled]="!consumerData.valid" full>Save</button>
      </ion-item>

    </ion-list>

  </form>
</ion-content>