.customIconClass{
    font-size:20px;
    margin-bottom: -4px !important;
  }
  // i{
  //     color: white; 
  // }

  .floatingLabel{
    color: white !important;
  }

  .registerList{
    margin-right: 10px !important;
    margin-top: 10px;
  }
  // .customIconClass{
  //     margin-bottom: -14px;
  // }

  .errorValidator{
    margin:auto;
    color:red;
    padding-left: 51px;
  }