<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Products</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="cardClass upperBlock">
        <ion-row justify-content-between>
            <ion-col col-3>
                <img src="assets/imgs/logo.png" class="imageWidth" />
            </ion-col>
            <ion-col style="margin:auto" col-6>
                <span>{{buyer}}</span>
            </ion-col>

            <ion-col>
                <span>
                    <b>Subtotal</b>
                </span>
                <p style="font-size: small;font-weight: 800;">
                    <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalPrice}}</p>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card class="cardClass">
        <ion-row>
            <ion-col>
                <b>Ordered Products </b>
            </ion-col>
        </ion-row>
        <br>
        <div *ngFor="let product of productList">
            <ion-row class="reduceMargin" *ngIf="product.count!==0" justify-content-between>
                <ion-col col-9>{{product.productId.name}} x {{product.count}}</ion-col>
                <ion-col col-3>
                    <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.totalPrice}}</ion-col>
            </ion-row>
        </div>

        <ion-row>
            <ion-col>
                <b>Discounted Products </b>
            </ion-col>
        </ion-row>
        <br>
        <div *ngFor="let product of freebieProductList">
            <ion-row class="reduceMargin" *ngIf="product.count!==0" justify-content-between>
                <ion-col col-9>{{product.productId.name}} x {{product.count}}</ion-col>
                <ion-col col-3>
                    <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.totalPrice}}</ion-col>
            </ion-row>
        </div>

        <hr>
        <ion-row class="reduceMargin" justify-content-between>
            <ion-col col-9 style="color:darkcyan;font-size: 16px;">
                <b>Subtotal</b>
            </ion-col>
            <ion-col class="subtotalClass" col-3>
                <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalPrice}}
            </ion-col>
        </ion-row>
    </ion-card >

    <ion-card class="cardClass">
        <ion-row>
            <ion-col>
                <b>Amount to Pay</b>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-input type="number" [(ngModel)]="paidAmount" style="background-color: aliceblue" placeholder="INR"></ion-input>
        </ion-row>
    </ion-card>
    <ion-item no-lines>
        <button margin-top ion-button type="submit" (click)="submit()" full>Confirm Order</button>
    </ion-item>
</ion-content>