.cardClass{
    font-size: 11px;
    border-radius: 2px;
    padding:5px;
    border: solid 1px rgb(197, 193, 193);   
    //  border: solid 1px thistle;
}
.imageWidth{
    width: 50px;
}
.reduceMargin{
    margin-bottom: 4px !important;
}

.upperBlock{
    font-weight: 900;
    font-size: medium;
}
.subtotalClass{
    font-weight: 800;
    font-size: small;
}