<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Order Status</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div style="margin:16px">
        <h3 ion-text color="primary">Thank You for the Order!</h3>
        <h4 ion-text color="dark" style="font-size:1.7rem">Order has been successfully placed!! </h4>
        <br>
        <br>
        <button ion-button small (click)="openOrdersPage()" item-end>View Orders</button>
        <button ion-button small (click)="openHomePage()" item-end>HOME</button>
        <!-- <button ion-button small (click)="redirectToPayment()" item-end>PAYMENT</button> -->
    </div>

</ion-content>