<ion-header no-border>
    <ion-navbar>
        <ion-title>Orders</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="info">
            <ion-segment-button value="paid">
                Paid
            </ion-segment-button>

            <ion-segment-button value="dues">
                Dues
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="_background">
    <div [ngSwitch]="info">
        <ion-list *ngSwitchCase="'paid'" ngSelected="selected">
            <ion-card *ngFor="let order of paidOrderList">
                <ion-card-header class="_cardHeader">
                    <ion-row justify-content-between>
                        <ion-col style="color: blue;" col-10>Status</ion-col>
                        <ion-col class="success" col-2>{{order.status}}</ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-list>
                    <ion-row justify-content-between>
                        <ion-col class="success" col-9>{{order.consumer.name}}</ion-col>
                        <ion-col col-3>
                            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{order.amount}}</ion-col>
                    </ion-row>
                    <ion-row justify-content-between>
                        <ion-col col-9>
                            <label>Ordered On:</label>
                            <p>{{order.lastModifiedDate}}</p>
                        </ion-col>
                        <ion-col class="cursor_pointer" (click)="redirect(order)">Details
                            <ion-icon class="_redirectIcon" name="open"></ion-icon>
                        </ion-col>
                    </ion-row>

                    <ion-row justify-content-between class="danger">
                        <ion-col class="cursor_pointer" (click)="viewReturnApplyPage(order)"  col-8>
                            <i class="fa fa-hand-point-right fa-fw"></i>
                            Apply Return
                        </ion-col>
                        <ion-col class="cursor_pointer" (click)="viewReturnedProductPage(order)">
                            View Return
                            <i class="fa fa-hand-point-left fa-fw"></i>
                        </ion-col>
                    </ion-row>

                </ion-list>
            </ion-card>
        </ion-list>

                            <!--     DUES ORDER SECTION   -->


        <ion-list *ngSwitchCase="'dues'">
            <ion-card *ngFor="let order of duesOrderList">
                <ion-card-header class="_cardHeader">
                    <ion-row justify-content-between>
                        <ion-col style="color: blue;" col-10>Status</ion-col>
                        <ion-col class="danger" col-2>{{order.status}}</ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-list>
                    <ion-row justify-content-between>
                        <ion-col class="success" col-9>{{order.consumer.name}}</ion-col>
                        <ion-col col-3>
                            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{order.amount}}</ion-col>
                    </ion-row>

                    <ion-row justify-content-between>
                        <ion-col col-9>
                            <label>Amount Dues:</label>
                            <p>
                                <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{order.amountDues}}</p>
                        </ion-col>
                        <ion-col class="cursor_pointer" (click)="ShowSettleUpPrompt(order)">Settle Up
                            <ion-icon class="_redirectIcon" name="open"></ion-icon>
                        </ion-col>
                    </ion-row>

                    <ion-row justify-content-between>
                        <ion-col col-9>
                            <label>Ordered On:</label>
                            <p>{{order.lastModifiedDate}}</p>
                        </ion-col>
                        <ion-col class="cursor_pointer" (click)="redirect(order)">Details
                            <ion-icon class="_redirectIcon" name="open"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row justify-content-between class="danger">
                        <ion-col class="cursor_pointer" (click)="viewReturnApplyPage(order)" col-8>
                            <i class="fa fa-hand-point-right fa-fw danger"></i>
                            Apply Return
                        </ion-col>
                        <ion-col class="cursor_pointer" (click)="viewReturnedProductPage(order)">
                            View Return
                            <i class="fa fa-hand-point-left fa-fw danger"></i>
                        </ion-col>
                    </ion-row>

                </ion-list>
            </ion-card>
        </ion-list>
    </div>
</ion-content>