<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HOME</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bgColor">
  <!-- <ion-card class="cardHeight">
    <img src="assets/imgs/dns_product1.jpg" />
  </ion-card> -->
  <ion-slides pager>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s2.jpeg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s1.jpeg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s3.jpeg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/imgs/s4.jpeg" />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-row>
    <ion-col class="_section" style="padding:0px" (click)="openPage('InventoryPage')" col-5>
      <ion-card>
        <!-- <img src="assets/imgs/bg1.jpg" /> -->
        <div class="card-title">Inventory</div>
      </ion-card>
    </ion-col>
    <ion-col class="_section" (click)="openPage('DistributorOrdersPage')" col-5>
      <ion-card>
        <!-- <img src="assets/imgs/bg1.jpg" /> -->
        <div class="card-title">Orders</div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="_section" style="padding:26px" (click)="openPage('ConsumerListPage')" col-5>
      <ion-card>
        <!-- <img src="assets/imgs/b1.jpg" /> -->
        <div class="card-title">Sell</div>
        <!-- <div class="card-subtitle">41 Listings</div> -->
      </ion-card>
    </ion-col>
    <ion-col class="_section" (click)="openPage('UpdateDetailPage')" col-5>
      <ion-card>
        <!-- <img src="assets/imgs/bg1.jpg" /> -->
        <div class="card-title">Update</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>