.productList{
    padding: 50px;
    border: solid 1px rgba(0, 0, 0, 0.12);
}
.cardHeight{
    position: relative;
    text-align: center;
    height: 30%;
  }
._section{
  background-color: #ea13037a;
  height:110px !important;
  margin-top:7px;
  margin-left:15px;
  border: solid 1px #c5c1c1;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .bgColor{
    background-color: #fff;
  }

  ion-slides{
    height:35%;
  }