<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Consumer List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <p class="addConsumerClass">
        Add new Consumer
        <span (click)="addConsumer()" style="cursor: pointer;">
            <i class="fa fa-plus-circle fa-fw rupeeSign"></i>
        </span>
    </p>
    <h4 class="quote">Select Your Consumer</h4>
    <div>
        <div>
            <ion-row>
                <ion-col>
                    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search" ionClear="false"></ion-searchbar>
                </ion-col>
            </ion-row>
        </div>
        <ion-list radio-group [(ngModel)]="consumer">
            <ion-item *ngFor="let consumer of consumerList">
                <ion-label>{{consumer.name}}</ion-label>
                <ion-radio value="{{consumer.id}}"></ion-radio>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div>
            <!-- <ion-item no-lines> -->
            <button ion-button type="submit" style="background-color:#022054;" (click)="proceed()" full>Proceed</button>
            <!-- </ion-item> -->
        </div>
    </ion-toolbar>
</ion-footer>