<ion-header no-border>
    <ion-toolbar color="cusviewbreak">
        <ion-title>
            Consumer
        </ion-title>
        <ion-buttons color="custom-green" start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="consumerData">
        <ion-list class="registerList">

            <ion-item>
                <ion-label color="primary" floating>Name</ion-label>
                <ion-input type="text" formControlName="name" [readonly]='true'></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Email Address </ion-label>
                <ion-input type="text" formControlName="email" [readonly]='true'></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Mobile </ion-label>
                <ion-input type="tel" maxlength="10" formControlName="mobile" [readonly]='true'></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>State</ion-label>
                <ion-input type="text" formControlName="state" [readonly]='true'></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>City</ion-label>
                <ion-input type="text" formControlName="city" [readonly]='true'></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Full Address</ion-label>
                <ion-textarea formControlName="address" [readonly]='true'></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Dues Amount (
                    <i class="fa fa-rupee-sign fa-fw" item-start></i>)</ion-label>
                <ion-textarea formControlName="duesAmount" [readonly]='true'></ion-textarea>
            </ion-item>

        </ion-list>
    </form>

    <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="edit()">
            <i class="fa fa-edit fa-fw customIconClass" aria-hidden="true"></i>
        </button>
    </ion-fab>
</ion-content>