  // i{
  //     color: white; 
  // }

  .floatingLabel{
    color: white !important;
  }

  .registerList{
    margin-right: 10px !important;
    margin-top: 10px;
  }
  
  .errorValidator{
    margin:auto;
    color:red;
    padding-left: 51px;
  }