<ion-header style="background-color:rgba(0,0,0,0)" no-border>
    <ion-navbar>
        <ion-title>Plan Summary</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bgColor">
  <form [formGroup]="distributorData" >
    <ion-list class="registerList">

      <ion-item class="transparentInput">
        <i class="fa fa-user fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>First Name</ion-label>
        <ion-input type="text" formControlName="firstName" required></ion-input>
      </ion-item>
      <p class="errorValidator" *ngIf="distributorData.controls['firstName'].required || (distributorData.controls['firstName'].hasError('pattern') && distributorData.controls['firstName'].dirty)">
        Please enter a valid First Name
      </p>

      <ion-item class="transparentInput">
        <i class="fa fa-user fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <p class="errorValidator" *ngIf="distributorData.controls['lastName'].required || (distributorData.controls['lastName'].hasError('pattern') && distributorData.controls['lastName'].dirty)">
        Please enter a valid Last Name
      </p>

      <ion-item class="transparentInput">
        <i class="fa fa-envelope fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label class="floatingLabel" floating>Email Address </ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <p class="errorValidator" *ngIf="distributorData.controls['email'].required || (distributorData.controls['email'].hasError('pattern') && distributorData.controls['email'].dirty)">
        Please enter a valid Email
      </p>

      <ion-item class="transparentInput">
        <i class="fa fa-envelope fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label class="floatingLabel" floating>Password </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <p class="errorValidator" *ngIf="distributorData.controls['password'].required || (distributorData.controls['password'].hasError('minLength') && distributorData.controls['password'].dirty)">
        Password must be atleast 6 characters
      </p>

      <ion-item class="transparentInput">
        <i class="fa fa-phone fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label class="floatingLabel" floating>Mobile </ion-label>
        <ion-input type="tel" maxlength="10" formControlName="mobile"></ion-input>
      </ion-item>
      <div class="errorValidator" *ngIf="distributorData.controls['mobile'].hasError('pattern') && !distributorData.controls['mobile'].hasError('required')">
        Please enter a valid mobile number
      </div>
      <div class="errorValidator" *ngIf="distributorData.controls['mobile'].hasError('required') && distributorData.controls['mobile'].touched">
        Mobile number is
        <strong>required</strong>
      </div>

      <ion-item class="transparentInput">
        <i class="fa fa-calendar fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>Date Of Birth</ion-label>
        <ion-datetime displayFormat="DD/MMM/YYYY" max="2000" formControlName="dateOfBirth"></ion-datetime>
      </ion-item>

      <ion-item class="transparentInput">
        <i class="fa fa-male fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>Gender</ion-label>
        <ion-select interface="popover" formControlName="gender">
          <ion-option value="Male">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
          <ion-option value="Other">Other</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="transparentInput">
        <i class="fa fa-building fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>State</ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>

      <ion-item class="transparentInput">
        <i class="fa fa-building fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>City</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>

      <ion-item class="transparentInput">
        <i class="fa fa-map fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>Car Address Pincode</ion-label>
        <ion-input type="text" formControlName="pincode"></ion-input>
      </ion-item>

      <ion-item class="transparentInput">
        <i class="fa fa-map-marker fa-fw customIconClass whiteBackground" item-start></i>
        <ion-label color="primary" class="floatingLabel" floating>Address</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>

      <ion-item class="transparentInput">
        <button margin-top ion-button type="submit" (click)="register(distributorData.value)"  [disabled]="!distributorData.valid" full>Register</button>
      </ion-item>

    </ion-list>


  </form>
</ion-content>