._quantitySelection{
    border-radius: 18px;
    font-size: larger;
}

._quantityIcon{
    padding: 4px;
    border: solid 1px #57c50b !important;
    border-bottom: solid 1px #57c50b !important;
    cursor: pointer;
}

._addIcon{
    border-bottom-right-radius: 4px;
    margin-left: -4px;
    margin-right: 5px;
    border-top-right-radius: 4px;
}

._removeIcon{
    margin-right: -4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
._quantityValue{
    margin-left: 0px;
    background-color: #57c50b;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.rupeeSign{
    color: #696868 !important;
    margin-right: -3px;
}
.consumerError{
    margin:auto;
    color:red;
    padding-left: 15px;
  }

.addConsumerClass{
    padding-left: 15px;
}