<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Products</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <form [formGroup]="consumerData">
        <ion-item>
            <ion-label color="primary" class="content" floating>Consumers</ion-label>
            <ion-select #items interface="popover" class="selector" id="buyer" (ionChange)="checkforNew(itemVal=$event)" formControlName="name" required>
                <ion-option *ngFor="let consumer of consumerList" value="{{consumer.id}}">{{consumer.name}}</ion-option>
                <ion-option value="0" class="option" text-wrap>Others</ion-option>
            </ion-select>
        </ion-item>
        <p class="consumerError" *ngIf="!consumerSelected">
            Please select a Consumer.
        </p>
        <p *ngIf="addNewConsumer" class="addConsumerClass">
            Add new Consumer
            <span (click)="addConsumer()" style="cursor: pointer;">
                <i class="fa fa-plus-circle fa-fw rupeeSign"></i>
            </span>
        </p>
    </form> -->

    <div>
        <div>
            <ion-row>
                <ion-col>
                    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search" ionClear="false"></ion-searchbar>
                </ion-col>
            </ion-row>
        </div>
        <ion-list>
            <ion-item *ngFor="let product of productList">
                <ion-row>
                    <ion-col col-9>
                        <b>{{product.productId.name}}</b>
                    </ion-col>
                    <ion-col col-3>{{product.productId.weight}}kg</ion-col>
                </ion-row>

                <ion-row justify-content-between>
                    <ion-col class="_quantitySelction" col-9>
                        <span class="_quantityIcon _removeIcon" (click)="subtract(product)">
                            <ion-icon name="remove"></ion-icon>
                        </span>
                        <span class="_quantityValue">
                            <label>{{product.count}}</label>
                        </span>
                        <span class="_quantityIcon _addIcon" (click)="add(product)">
                            <ion-icon name="add"></ion-icon>
                        </span>
                        <span>
                            <label>x
                                <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.productId.price}}</label>
                        </span>
                    </ion-col>

                    <ion-col col-3>
                        <label>
                            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.totalPrice}}</label>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div>
            <ion-item no-lines>
                <ion-row justify-content-between>
                    <ion-col class="_quantitySelection" col-9>Subtotal</ion-col>
                    <ion-col col-3>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalPrice}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-row class="reduceMargin" justify-content-between>
                <ion-col col-8>
                    <button ion-button type="submit" style="background-color:#022054;" (click)="openSchemePage()">Scheme</button>
                </ion-col>
                <ion-col col-4>
                    <button ion-button type="submit" style="background-color:#022054;" (click)="submit()">Proceed</button>
                </ion-col>
            </ion-row>
        </div>
    </ion-toolbar>
</ion-footer>