<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Returned Products</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="returnedProductList.length>0">
        <ion-card class="cardClass upperBlock">
            <ion-row justify-content-between>
                <ion-col col-3>
                    <img src="assets/imgs/logo.png" class="imageWidth" />
                </ion-col>
                <ion-col style="margin:auto" col-6>
                    <span>{{consumerName}}</span>
                </ion-col>

                <ion-col>
                    <span>
                        <b>Subtotal</b>
                    </span>
                    <p style="font-size: small;font-weight: 800;">
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalAmount}}</p>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card class="cardClass">
            <ion-row>
                <ion-col>
                    <b>Returned Products </b>
                </ion-col>
            </ion-row>
            <br>
            <div *ngFor="let product of returnedProductList">
                <ion-row class="reduceMargin" *ngIf="product.count!==0" justify-content-between>
                    <ion-col col-9>{{product.product.name}} x {{product.quantity}}</ion-col>
                    <ion-col col-3>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.amount}}</ion-col>
                </ion-row>
            </div>


            <hr>
            <ion-row class="reduceMargin" justify-content-between>
                <ion-col col-9 style="color:darkcyan;font-size: 16px;">
                    <b>Subtotal</b>
                </ion-col>
                <ion-col class="subtotalClass" col-3>
                    <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalAmount}}</ion-col>
            </ion-row>


        </ion-card>
    </div>
    <div *ngIf="returnedProductList.length==0">
        <h1 class="noProductMsgClass">No product has returned for this order.</h1>
    </div>
</ion-content>