<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Inventory</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <div>
            <ion-row>
                <ion-col>
                    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search" ionClear="false"></ion-searchbar>
                </ion-col>
            </ion-row>
        </div>
        <ion-card *ngFor="let product of searchProductList">
            <ion-row>
                <ion-col col-3>
                    <img src="assets/imgs/{{product.productId.id}}.jpg" class="imageWidth" />
                </ion-col>
                <ion-col class="_nameBlock" col-4>
                    <label>{{product.productId.name}}</label>
                    <!-- <p>Total {{product.totalStock}} was available</p> -->
                </ion-col>
                <ion-col class="_priceMargin">
                    <div>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>
                        <b>{{product.productId.price}}</b>
                    </div>
                    <p>{{product.totalStock-product.soldStock}} left</p>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>