<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Scheme Products</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <div>
            <ion-row>
                <ion-col>
                    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search" ionClear="false"></ion-searchbar>
                </ion-col>
            </ion-row>
        </div>
        <ion-list>
            <ion-item *ngFor="let product of productList">
                <ion-row>
                    <ion-col col-9>
                        <b>{{product.productId.name}}</b>
                    </ion-col>
                    <ion-col col-3>{{product.productId.weight}}kg</ion-col>
                </ion-row>

                <ion-row justify-content-between>
                    <ion-col class="_quantitySelction" col-9>
                        <span class="_quantityIcon _removeIcon" (click)="subtract(product)">
                            <ion-icon name="remove"></ion-icon>
                        </span>
                        <span class="_quantityValue">
                            <label>{{product.count}}</label>
                        </span>
                        <span class="_quantityIcon _addIcon" (click)="add(product)">
                            <ion-icon name="add"></ion-icon>
                        </span>
                        <span>
                            <label>x</label>
                        </span>
                        <span>
                            <input type="number" maxlength="4" [(ngModel)]="amount[product.id]" style="width:30%" placeholder='Amount' />
                        </span>
                    </ion-col>

                    <ion-col col-3>
                        <label>
                            <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{product.totalPrice}}</label>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div>
            <ion-item no-lines>
                <ion-row justify-content-between>
                    <ion-col class="_quantitySelection" col-9>Subtotal</ion-col>
                    <ion-col col-3>
                        <i class="fa fa-rupee-sign fa-fw rupeeSign"></i>{{totalPrice}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-row class="reduceMargin">
                <ion-col>
                    <button ion-button type="submit" style="background-color:#022054;" (click)="submit()" full>Submit</button>
                </ion-col>
            </ion-row>
        </div>
    </ion-toolbar>
</ion-footer>